<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Поиск вакансий</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Главная</a>
                    <a href="{% url 'vacancies_list' %}">Вакансии</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Добро пожаловать! Здесь вы найдете лучшие вакансии</p>
        <a href="{% url 'vacancies_list' %}" class="btn">Посмотреть вакансии</a>
    </main>
</body>
</html>
